body{

margin:0;
font-family:Arial;

background:#071426;
color:white;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

text-align:center;

}

/* container */

.container{

max-width:600px;

}

/* titles */

h1{

font-size:38px;

color:#7fd8ff;

text-shadow:0 0 10px #00c3ff;

}

.subtitle{

margin-bottom:40px;

color:#cde9ff;

}

/* year cards */

.year-buttons{

display:flex;
flex-direction:column;

gap:30px;

}

.year-card{

display:block;

padding:25px;

font-size:22px;

text-decoration:none;

background:#0e2236;

border:2px solid #00c3ff;

border-radius:12px;

color:white;

transition:0.3s;

box-shadow:0 0 10px #00c3ff;

}

.year-card:hover{

transform:scale(1.07);

box-shadow:
0 0 10px #00c3ff,
0 0 25px #00c3ff,
0 0 45px #00c3ff;

}

/* modules */

.modules{

display:flex;
flex-direction:column;

gap:20px;

margin-top:40px;

}

/* module buttons */

.module-btn{

padding:18px;

font-size:18px;

background:#00c3ff;

border-radius:10px;

text-decoration:none;

color:#071426;

font-weight:bold;

transition:0.25s;

}

.module-btn:hover{

transform:scale(1.08);

background:#7fd8ff;

}

/* back button */

.back-btn{

display:inline-block;

margin-top:40px;

padding:12px 25px;

background:white;

color:#071426;

text-decoration:none;

border-radius:8px;

}

/* joke */

.joke{

margin-top:40px;

font-style:italic;

color:#8fcaff;

}
